<div class="container" style="margin:50px auto">
    <div class="row">
        <div class="col">
            <p class="text-right">
                Hola, {{usuario}}!
            </p>
        </div>
        <div class="col">
            <a href="/admin/login/logout" class="outline primary">Cerrar sesión <i class="fa fa-sign-out"></i></a>
        </div>
    </div>
    <div class="row">
        <div class="col-9">
            <h3>Listado de Novedades</h3>
        </div>
        <div class="col-3 text-right">
            <a href="/admin/novedades/agregar" class="btn btn-success"><i class="fa fa-plus"> Nuevo</i></a>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th class="col-2" scope="col">#</th>
                        <th class="col-4" scope="col">Título</th>
                        <th class="col-4 text-center" scope="col">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each novedades}}
                    <tr>
                        <th class="col-2" scope="row">{{id}}</th>
                        <td class="col-4">{{titulo}}</td>
                        <td class="col-4 text-center">
                            <a href="/admin/novedades/modificar/{{id}}" title="Editar" class="btn btn-sm btn-secondary">
                                <i class="fa fa-pencil"></i>
                            </a>
                            <a href="/admin/novedades/eliminar/{{id}}" title="Eliminar"
                                class="btn btn-sm btn-secondary">
                                <i class="fa fa-trash"></i>
                            </a>
                        </td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>
</div>